body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    background: #121212;
    border-bottom: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#title {
    color: white;
    padding: 15px 32px;
}

#login {
    background-color: #121212;
    border-radius: 25px;
    border-color: #EAEAEA;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

#login:hover {
    background-color: #EAEAEA;
    border-color: #121212;
    color: #121212;
}

#gameContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#generatedAlbum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px; /* Spacing between album content and buttons */
}




#img-container {
    margin-top: 10px;
}

#playerGuess {
    margin-top: 10px;
    padding: 10px;
    width: 200px; /* Adjust the input width */
}

#successMsg {
    margin-top: 20px;
}

#guess-container {
    display: flex; 
    align-items: center; 
    gap: 10px;
    margin: 20px; 
  }
  
  #guess {
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #FF5722 ; 
    border-radius: 5px; 
    outline: none; 
    transition: border-color 0.3s ease; 
  }
  
  #guess:focus {
    border-color: #E64A19 ; 
  }
  
  #buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  #submit, #genAlbum, #reshuffle {
    padding: 10px 20px; 
    font-size: 16px;
    color: #ffffff; 
    background-color: #FF5722 ;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  #submit:hover {
    background-color: #E64A19 ; 
  }
  
  #submit:active {
    background-color: #FF5722 ; 
  }

  #successMsg{
    text-align: center;
  }